.item_container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(21, 24, 190);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin-bottom: 10px;
  background-color: rgb(78, 78, 161);
}
.first_span {
  color: yellow;
}
.first_heading {
  color: white;
}
.result_heading {
  color: Green;
}
