.home_container {
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-summer-math-training-background-material-picture-image_1472599.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.masterButton {
  color: rgb(209, 24, 24);
  background-color: black;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(230, 25, 25);
}
.studentButton {
  color: rgb(231, 36, 36);
  background-color: black;
  border-radius: 15px;
  width: 100%;
  border: 1px solid rgb(225, 9, 9);
  height: 40px;
}
.heading {
  color: rgb(202, 17, 17);
  font-size: 50px;
  font-weight: bold;
}
.caption {
  color: rgb(211, 29, 29);
  font-weight: bold;
  padding: 1px;
}

@media screen and (orientation: portrait) {
  .heading {
    font-size: 30px;
  }
  .caption {
    font-weight: normal;
    align-self: center;
    text-align: center;
  }
}
.teacherIcon {
  background-color: rgb(216, 14, 14);
  font-size: 50px;
  margin: 15px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  height: 40vh;
  border-radius: 20px;
  border: 1px solid rgb(209, 22, 22);
  margin: 10px;
}

.student_container {
  border: 1px solid rgb(212, 16, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.teacher_container {
  border: 1px solid rgb(207, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.profile {
  color: rgb(209, 28, 28);
}
@media screen and (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid grey;
    margin: 10px;
    height: 50%;
    align-items: center;
  }
  .student_container {
    border: 1px solid rgb(186, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 20px;
  }
  .teacher_container {
    border: 1px solid rgb(190, 9, 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 20px;
  }
  .teacherIcon {
    background-color: rgb(212, 11, 11);
    font-size: 20px;
  }
}
